---
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import Admonition from "../../components/mdx/Admonition.astro";
import ExternalSources from "../../components/ExternalSources.astro";
import Language from "../../components/mdx/Language.astro";
import Languages from "../../components/mdx/Languages.astro";
import Layout from "../../layouts/Layout.astro";
import NixDevelop from "../../components/mdx/NixDevelop.astro";
import NixStorePath from "../../components/mdx/NixStorePath.astro";
import Shell from "../../components/mdx/Shell.astro";
import SpecificLanguage from "../../components/mdx/SpecificLanguage.astro";
import HorizontalContainer from "../../components/HorizontalContainer.astro";
import Hero from "../../components/Hero.astro";
import Summary from "../../components/Summary.astro";
import H2 from "../../components/mdx/H2.astro";
import H3 from "../../components/mdx/H3.astro";
import H4 from "../../components/mdx/H4.astro";
import Pagination from "../../components/Pagination.astro";

export const getStaticPaths = (async () => {
  const startPages = await getCollection("start");

  return startPages.map((page) => ({
    params: { slug: page.slug.substring(1) },
    props: {
      page,
    },
  }));
}) satisfies GetStaticPaths;

const { page } = Astro.props;
const { data } = page;
const { title, summary, order } = data;
const { Content } = await page.render();

const numQuickStartPages = (await getCollection("start")).length;
---

<Layout {title}>
  <HorizontalContainer>
    <Hero
      {title}
      breadcrumb={{ back: { title: "Quick start", href: "/start" }, title }}
      size="normal"
      total={numQuickStartPages}
      {order}
    />

    <div class="space-y-6">
      {summary && summary.length > 0 && <Summary items={summary} />}

      <div class="prose max-w-none dark:prose-invert lg:prose-lg xl:prose-xl">
        <Content
          components={{
            h2: H2,
            h3: H3,
            h4: H4,

            Admonition,
            ExternalSources,
            Language,
            Languages,
            NixDevelop,
            NixStorePath,
            Shell,
            SpecificLanguage,
          }}
        />
      </div>

      <div class="mt-16 space-y-12">
        <Pagination {order} />
      </div>
    </div>
  </HorizontalContainer>
</Layout>
