---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { startPagePath } from "../../lib/utils";

const title = "Start";
const description = "TODO";

const startPages = await getCollection("start");
---

<Layout {title} {description}>
  <h1>{title}</h1>

  <ul>
    {
      startPages.map(({ slug, data: { title } }) => (
        <li>
          <a href={startPagePath(slug)}>{title}</a>
        </li>
      ))
    }
  </ul>
</Layout>
