---
import { Icon } from "astro-icon/components";
import { site } from "../../site";

const { platforms } = site;
---

<div class="not-prose grid grid-cols-1 gap-2 md:grid-cols-2 lg:grid-cols-3">
  {
    platforms.map(({ title, specs, href, icon }) => (
      <div class="flex flex-col justify-between gap-3.5 rounded border border-light-gray p-4 dark:border-gray md:p-5">
        <Icon name={icon} class="size-6" />

        <div class="flex flex-col gap-2">
          {href ? (
            <a
              {href}
              class="text-lg font-semibold !no-underline duration-hover md:text-xl"
              target="_blank"
              rel="noopener noreferrer"
            >
              {title}
            </a>
          ) : (
            <p class="text-lg font-semibold md:text-xl">{title}</p>
          )}

          {specs && <p class="text-xs font-light md:text-sm">{specs}</p>}
        </div>
      </div>
    ))
  }
</div>
