---
import { snippets } from '../pages/concepts/snippets';
import Container from '../components/Container.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import type { ConceptProps, NavLink } from '../types';
import Root from './Root.astro';
import { site } from '../../site';
import Grid3 from '../components/Grid3.astro';
import HoverableLink from '../components/HoverableLink.astro';

type Props = ConceptProps;

const { frontmatter: { title, related, readMore }} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <main class="flex-1">
    <Navbar title={siteTitle} />
    <Container>
      <div class="py-16 space-y-4">
        <Hero title={title} breadcrumb={{ back: { title: "Concepts", href: "/concepts" } }} />
      </div>

      <Content>
        <slot />
      </Content>
    </Container>
  </main>

  {readMore && readMore.length > 0 && (<Container>
    <div class="py-6">
      <div class="space-y-4">
        <p class="text-2xl font-semibold">
          Read more
        </p>

        <Grid3>
          {readMore.map((link: NavLink) =>
            <HoverableLink {...link} size="sm" />
          )}
        </Grid3>
      </div>
    </div>
  </Container>)}


  {related.length > 0 && (<Container>
    <div class="py-6">
      <div class="space-y-4">
        <p class="text-2xl font-semibold">
          Related
        </p>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-2 md:gap-4">
          {related.map((id: string) => {
            const title = snippets.find((s) => s.id === id)!.title;
            const href = `/concepts/${id}`;

            return (<HoverableLink title={title} href={href} size="sm" />);
          })}
        </div>
      </div>
    </div>
  </Container>)}
  <Footer />
</Root>
