---
import { getCollection } from "astro:content";
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import QuickStart from "../components/QuickStart.astro";
import Layout from "./Layout.astro";
import Related from "../components/Related.astro";
import Separator from "../components/Separator.astro";
import { conceptPagePath } from "../lib/utils";
import ExternalSources from "../components/ExternalSources.astro";
import type { ExternalSource } from "../lib/content";
import FeedbackBar from "../components/FeedbackBar.astro";

type Props = {
  title: string;
  description: string;
  slug: string;
  externalSources?: ExternalSource[];
};

const { title, description, slug, externalSources } = Astro.props;

const relatedConceptPages: { title: string; href: string }[] = (
  await getCollection("concepts")
)
  .filter(({ data: { related } }) => related.includes(slug))
  .map(({ slug, data: { title } }) => {
    return { title, href: conceptPagePath(slug) };
  });
---

<Layout {title} {description}>
  <HorizontalContainer>
    <Hero
      {title}
      {description}
      breadcrumb={{ back: { title: "Concepts", href: "/concepts" }, title }}
    />

    <QuickStart />

    <div class="space-y-8 md:space-y-10 lg:space-y-12">
      <Content>
        <slot />
      </Content>

      {
        relatedConceptPages.length > 0 && (
          <Related related={relatedConceptPages} />
        )
      }

      {
        externalSources && externalSources.length > 0 && (
          <ExternalSources links={externalSources} showTitle />
        )
      }

      <div class="mt-16 space-y-12">
        <Separator />
        <FeedbackBar />
      </div>
    </div>
  </HorizontalContainer>
</Layout>
