---
import { site } from "../../site";

const root = Astro.site!;
const canonical = new URL(Astro.url.pathname, root);
const sitemap = new URL("sitemap-index.xml", root);
const { title, description, author, languageCode } = site;
---

<html lang="en-us" class="h-screen" lang={languageCode}>
  <head>
    <!-- This gets run before anything else -->
    <script is:inline>
      function showBody() {
        document.body.style.visibility = "visible";
      }

      if (localStorage.getItem("theme") === "dark") {
        document.documentElement.classList.add("dark");
      } else {
        document.documentElement.classList.remove("dark");
      }
    </script>

    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,shrink-to-fit=no"
    />
    <meta http-equiv="x-ua-compatible" content="id=edge" />
    <meta property="HandheldFriendly" content="True">
    <meta property="MobileOptimized" content="320" />
    <meta property="author" content={author} />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <meta content={languageCode} http-equiv="Content-Language" />
    <title>{title}</title>
    <link rel="sitemap" href={sitemap}>
    <link rel="canonical" href={canonical} />
  </head>
  <body
    class="font-sans antialiased flex flex-col min-h-full bg-white text-black dark:bg-black dark:text-white"
    onload="showBody()"
    style="visibility: hidden;"
  >
    <slot />
  </body>
</html>
