---
import type { MarkdownLayoutProps } from 'astro';
import { site } from '../../site';
import Container from '../components/Container.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Pagination from '../components/Pagination.astro';
import TLDR from '../components/TLDR.astro';
import Root from './Root.astro';

type Props = MarkdownLayoutProps<{
  title: string;
  weight: number;
}>;

const { frontmatter: { title, tldr, weight }} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <main class="flex-1">
    <Navbar title={siteTitle} />
    <Container>
      <Hero title={`${weight}. ${title}`} />

      <div class="space-y-4">
        <TLDR text={tldr} />

        <Content>
          <slot />
        </Content>
      </div>
    </Container>
  </main>

  <div class="pt-12 pb-6">
    <Pagination weight={weight} />
  </div>
  <Footer />
</Root>
