---
import { site } from '../../site';
import Container from '../components/Container.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Pagination from '../components/Pagination.astro';
import Summary from '../components/Summary.astro';
import type { StepProps } from '../types';
import Root from './Root.astro';

type Props = StepProps;

const { frontmatter: { title, summary, weight }} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <main class="flex-1 mb-12">
    <Navbar title={siteTitle} />
    <Container>
      <Hero title={`${weight}. ${title}`} />

      <div class="space-y-6">
        {summary && <Summary items={summary} />}

        <div class="border-2 rounded-xl shadow-sm p-6">
          <Content>
            <slot />
          </Content>

          <div class="mt-16">
            <Pagination weight={weight} />
          </div>
        </div>
      </div>
    </Container>
  </main>

  <Footer />
</Root>
